@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

div {
  position: relative;
  z-index: 2;
}

body {
  background-color: #333;
  color: #333;
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}

#quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}
#quote-text i {
  font-size: 1.0em;
  margin-right: 0.4em;
}

#quote-author {
  text-align: right;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 300;
  font-size: 1em;
  padding-top: 20px;
}

.buttons {
  width: 450px;
  margin: auto;
  display: block;
  height: 38px;
}
.buttons .button {
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.9em;
  padding: 8px 18px 6px 18px;
  margin-top: 35px;
  opacity: 1;
  cursor: pointer;
}
.buttons .button:hover {
  opacity: 0.7;
}
.buttons .button#tweet-quote, .buttons .button#tumblr-quote {
  float: left;
  padding: 0px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.4em;
  margin-right: 10px;
  height: 35px;
  width: 50px;
}
.buttons .button#new-quote {
  float: right;
  margin-top: 50px;
  font-family: 'Indie Flower', cursive;
}
